.navmenu-height {
  height: 100vh;
}

.navmenu-items {
  flex-direction: column;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
}

.profile-dropdown {
  display: none;
}

@media (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-close {
    display: none;
  }

  .navmenu-items {
    flex-direction: row;
    align-items: center;
  }

  .navmenu-items > ul {
    margin-right: 1rem;
  }

  .navmenu-height {
    height: auto;
  }

  .profile-dropup {
    display: none;
  }

  .profile-dropdown {
    display: inherit;
  }

  .profile-dropdown > ul {
    margin-top: 0.5rem;
  }
}
