@inherits LayoutComponentBase

<div class="d-flex flex-nowrap flex-column">
    <NavMenu />

    <main style="flex: 1">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>