<div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body align-self-center">
                @if (Result)
                {
                    <span>The word is <b>@Answer</b></span>
                    <span class="bi bi-check-circle mb-5" style="color: green;"></span>
                }
                else
                {
                    <span>The word is <b>@Answer</b></span>
                    <span class="bi bi-x-circle mb-5" style="color: red;"></span>
                }
            </div>
            <div class="modal-footer">
                <form>
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<form @onsubmit=Enter>
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">

        <img src="https://placehold.co/600x400" class="img-thumbnail" />
        <p>Test description</p>

        <Card CssClass="mb-5" Answer="@Answer" OnValueChange="(v) => Value = v" @rendermode="InteractiveServer" />

        @if (Value.Length == Answer.Length)
        {
            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Enter
            </button>
        }
        else
        {
            <button type="button" class="btn btn-primary" disabled>
                Enter
            </button>
        }

    </div>
</form>


@code {
    [Parameter]
    public string Answer { get; set; } = "";
    private string Value { get; set; } = string.Empty;
    private bool Result => Value == Answer;
    @* public void Enter(KeyboardEventArgs e)
{
if (e.Code == "Enter" || e.Code == "NumpadEnter")
{

}
} *@
    private class TodoItem { public string Title { get; set; } }
    private IList<TodoItem> todos = new List<TodoItem>();
    private string newTodo;

    private void Enter()
    {
    }
}